<?xml version="1.0"?>
<launch>
    <include file="$(find mybot_navigation)/launch/mybot_configuration.launch" />


    <!--node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
  
      <param name="magnetic_declination_radians" value="0"/>
  
      <param name="yaw_offset" value="0"/>
  
      <remap from="/imu/data" to="/imu" />
      <remap from="/gps/fix" to="/fix" />
      <remap from="/odometry/filtered" to="/odometry/filtered"/>
  
    </node-->
  

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="/home/abhishek/catkin_ws/src/mybot_description/config/ekf_localization.yaml"/>
  </node>

</launch>
